@import  '../pages/styles.scss';

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 150px;
}

.about-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color; 
  border-radius: 10px;
  padding: 0px 10px;

  .about-text {
    color: white;
    font-size: 24px;
    flex-grow: 1;
  }

  .chevron-icon {
    background-color: $primary-color; /* Assurez-vous que $primary-color est défini */
    color: white;
    border: none;
    cursor: pointer;
    border: none;
    transition: transform 0.3s; /* Ajoutez une transition pour la rotation */

    &.open {
      transform: rotate(180deg); /* Appliquez la rotation de 180 degrés */
    }
  }
}

.about-caption {
  color: $primary-color; 
  background-color: $secondary-color; 
  
  border-radius: 0 0 10px 10px ;
  padding: 20px;
  
}

.about-tab.open .about-caption {
  color: $primary-color; 
  background-color: $secondary-color; 
  font-size: 18px;
  margin: 0 10px;
  overflow: hidden;
  display: block; 
  height: auto; 
  transition: height 1s ease-in-out;
}
