@import '../pages/styles.scss';

/* Utilisez flexbox pour répartir l'espace entre les boutons et les éléments dropdown */
.dropdown_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: $page-width; 
  height: auto;
  margin: 0 100px;
}

  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;

  button {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 10px;
    background-color: $primary-color;
    color: #fff;
    font-size: $font-size-little-title;
    border: none;
    cursor: pointer;
    
    transition: background-color 0.3s;

    &:hover {
      background-color: $primary-color;
    }
  }

.dropdown-text {
  display: none; 
  color: $primary-color;
  background-color: $secondary-color;
  font-size: 24px;
  border-radius: 0 0 10px 10px;
  padding: 0 20px;
  overflow: hidden;
  text-align: center;
}


button:focus + .dropdown-text {
  display: block; /* Affiche le texte lorsque le bouton est cliqué */
  margin: 0; /* Aucune marge autour du texte */
  height: auto;
  transition: height 1s ease-in-out;
}
}