@import '../pages/styles.scss';

.dropdown_container {
  display: flex;
  flex-direction: row;
  margin: 20px 100px;
  gap: 50px; 
}

  .dropdown{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    min-width: 50%;
  }

  .dropdown-title {
    font-size: 18px;
    color: white;
  }
  
  .chevron-icon {
    font-size: 50px;
  }
  
    .dropdown-text {
      color: $primary-color;
      background-color: $secondary-color;
      font-size: 18px;
      border-radius: 0 0 10px 10px;
      padding: 0 20px;

    }

    .dropdown[data-open=true] .dropdown-text {
      display: block;
      margin: 0;
      color: $primary-color;
      background-color: $secondary-color;
      font-size: 18px;
      border-radius: 0 0 10px 10px;
      padding: 0 20px;
      overflow: hidden;
      text-align: center;
      height: 200px;
      transition: height 1s ease-in-out;
    }

