@import '../pages/styles.scss'; 

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  @media screen and (max-width: 768px) {
    margin: 50px;
    padding: 0;
  }
}

.header-logo {
  width: 100%;
  height: auto;
}

.header-right {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: $font-size-title;


    li {
      margin-right: 20px;

      a {
        text-decoration: none;
        color: #FF6060;

        &:hover {
          text-decoration: underline;
        }
      }
    } 
  }

  @media screen and (max-width: 768px) {
    .header {
      margin: 0; /* Margin en mobile (0 pour supprimer le margin) */
      padding: 0;
    }

    ul {
      text-transform: uppercase;
      font-size: $font-size-title;
    }
  }
}