@import  '../pages/styles.scss';

  .accomodation_host {
    display: flex; 
    flex-direction: column;
    align-items: flex-end; 
    margin: 30px 100px;
    column-gap: 100px;
  }
  
 .profil {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 50px;
}


  .host {
  width: 50%;
  display: flex; /* Utilisez Flexbox ici */
  flex-direction: column; /* Organisez le nom et le prénom en colonne */
  font-size: $font-size-little-title;
  color: $primary-color;
  }

  .host_img {
  width: 64px;
  border-radius: 80%;
  }
