@import  '../pages/styles.scss';

  .accomodation_host {
    display: flex; 
    flex-direction: column; 
  
    h4 {
      font-size: $font-size-little-title;
    }
  
    img {
      width: 100px;
      border-radius: 80%;
      background-color: $secondary-color;
    }
  }
  
 .profil {
grid-row: 2;
 }

 .host {
  font-size: $font-size-little-title;
  color: $primary-color;
 }

.accomodation_rating {
    grid-column: 2;
    color: red;
    }
  
  