@import '../pages/styles.scss';

.slideshow {
  
  width: 100%;
}
.slideshow_img {
  position: relative;
  width: 90%;
  height: 415px;
  object-fit: cover;
  border-radius: 20px;
  border: none;
  margin: 0 100px;
}

.slideshow_button {
  font-size: 30px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.slideshow_button--left {
  position: absolute;
  top: 35%;
  left: 100px;
  margin-block: auto;
}

.slideshow_button--right {
  position: absolute;
  top: 35%;
  right: 50px;
  margin-block: auto;
}

.photoCount {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 30px;
  font-size: 14px;
  color: white;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .slideshow_img {
    margin: 0 30px;
    height: 255px;
  }

  .slideshow_button--left {
    top: 35%;
    left: 50px;
    margin-block: auto;
  }
  
  .slideshow_button--right {
    top: 35%;
    right: 50px;
    margin-block: auto;
  }
  .photoCount {
    display: none;
  }
}
