@import  '../pages/styles.scss';

.tags-container { 
    display: flex; 
    flex-direction: row;
    gap: 20px;
 
    
    .tag{
    display: flex;
    white-space: nowrap;
    color: white; 
    background-color: $primary-color;
    border-radius: 20px; 
    padding: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    .tags-container {
      margin: 0 30px;
    }
  }