@import  '../pages/styles.scss';

.tags-container {
    display: flex; 
    flex-direction: row;
    gap: 20px;
    margin: 0 100px;
    
    .tag{
    color: white; 
    background-color: $primary-color;
    border-radius: 20px; 
    padding: 10px;
    }
  }
  